# Experiment 1 - Predict using XGBoost

### Notebook 2: Feature engineering

**ToDo**
* Padronizar os data types
* Normalizar valores
* Pesquisar feature engineering para serie temporal multivariada
* Será que eu uso a feature tools? =P

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('../data/CMAPSSData/data_all.csv')

In [5]:
data.shape

(160359, 31)

In [6]:
data.head(3)

,Unnamed: 0,engine_no,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,...,sensor_meas_16,sensor_meas_17,sensor_meas_18,sensor_meas_19,sensor_meas_20,sensor_meas_21,index,time,engine_family,RUL
0,0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,...,0.03,392,2388,100.0,39.06,23.4190,0,2000-01-01 00:00:00,1,112.0
1,1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,...,0.03,392,2388,100.0,39.00,23.4236,1,2000-01-01 00:10:00,1,98.0
2,2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,...,0.03,390,2388,100.0,38.95,23.3442,2,2000-01-01 00:20:00,1,69.0

In [7]:
data.dtypes

Unnamed: 0          int64
engine_no           int64
time_in_cycles      int64
op_setting_1      float64
op_setting_2      float64
op_setting_3      float64
sensor_meas_1     float64
sensor_meas_2     float64
sensor_meas_3     float64
sensor_meas_4     float64
sensor_meas_5     float64
sensor_meas_6     float64
sensor_meas_7     float64
sensor_meas_8     float64
sensor_meas_9     float64
sensor_meas_10    float64
sensor_meas_11    float64
sensor_meas_12    float64
sensor_meas_13    float64
sensor_meas_14    float64
sensor_meas_15    float64
sensor_meas_16    float64
sensor_meas_17      int64
sensor_meas_18      int64
sensor_meas_19    float64
sensor_meas_20    float64
sensor_meas_21    float64
index               int64
time               object
engine_family       int64
RUL               float64
dtype: object

In [27]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [22]:
# trocar time por datetime
time = pd.to_datetime(data['time'])
data.drop(['time'], axis=1, inplace=True)
data = pd.concat([data, time], axis=1)

In [19]:
time = pd.to_datetime(data['time'])
data.drop(['time'], axis=1, inplace=True)
data = pd.concat([data, time], axis=1)

In [28]:
data.head(3)

,engine_no,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,...,sensor_meas_16,sensor_meas_17,sensor_meas_18,sensor_meas_19,sensor_meas_20,sensor_meas_21,index,engine_family,RUL,time
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,0.03,392,2388,100.0,39.06,23.4190,0,1,112.0,2000-01-01 00:00:00
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,0.03,392,2388,100.0,39.00,23.4236,1,1,98.0,2000-01-01 00:10:00
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,0.03,390,2388,100.0,38.95,23.3442,2,1,69.0,2000-01-01 00:20:00

In [24]:
data.dtypes

Unnamed: 0                 int64
engine_no                  int64
time_in_cycles             int64
op_setting_1             float64
op_setting_2             float64
op_setting_3             float64
sensor_meas_1            float64
sensor_meas_2            float64
sensor_meas_3            float64
sensor_meas_4            float64
sensor_meas_5            float64
sensor_meas_6            float64
sensor_meas_7            float64
sensor_meas_8            float64
sensor_meas_9            float64
sensor_meas_10           float64
sensor_meas_11           float64
sensor_meas_12           float64
sensor_meas_13           float64
sensor_meas_14           float64
sensor_meas_15           float64
sensor_meas_16           float64
sensor_meas_17             int64
sensor_meas_18             int64
sensor_meas_19           float64
sensor_meas_20           float64
sensor_meas_21           float64
index                      int64
engine_family              int64
RUL                      float64
time              datetime64[ns]
dtype: object

**Date/time features**

**