# Experiment 1 - Predict using XGBoost

### Notebook 2: Make Supervised suitable

**ToDo**
* Descobrir porque o dat.at não tá funcionando
* Padronizar os data types
* Normalizar valores
* Pesquisar feature engineering para serie temporal multivariada
* Será que eu uso a feature tools? =P

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('../data/CMAPSSData/data_all.csv', parse_dates=['time'])
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
#sort by time
data = data.sort_values(by='time')

In [6]:
# Problema supervisionado: o motor vai falhar nos pŕoximos 20 ciclos?
# Criar uma coluna target: se >=20, target = 1; else 0

In [7]:
data['target']=0

In [14]:
data.at[0,'target'] = 2

In [22]:
data

SyntaxError: invalid syntax (<ipython-input-22-6880270fd17b>, line 1)

In [15]:
data.iloc[0]['target']

2

In [ ]:
index_map = [(x,y) for x,y in zip(df.columns, range(df.columns))]

for row in data.values:
    row[index_map['col']]
    
df['target'] = df['col'].apply(lambda x: 1 if x <=20 else 0)

In [35]:
for i, dat in data.iterrows():
    if dat['RUL']<=20:
        print('troca', i, ' ', dat['RUL'])
        dat.apply['target'] = 1
        print(data.iloc[i]['target'])

troca 20631   18.0
0
troca 20635   15.0
0
troca 20637   6.0
0
troca 99117   14.0
0
troca 20639   11.0
0
troca 20641   6.0
0
troca 99121   7.0
0
troca 20644   11.0
0
troca 99124   12.0
0
troca 19   16.0
0
troca 74410   18.0
0
troca 20652   10.0
0
troca 99131   11.0
0
troca 23   20.0
0
troca 74413   9.0
0
troca 74415   11.0
0
troca 30   8.0
0
troca 99140   6.0
0
troca 20662   11.0
0
troca 33   7.0
0
troca 34   11.0
0
troca 35   19.0
0
troca 99147   11.0
0
troca 74428   8.0
0
troca 99149   10.0
0
troca 40   18.0
0
troca 41   10.0
0
troca 20673   18.0
0
troca 20674   6.0
0
troca 20675   15.0
0
troca 74435   7.0
0
troca 20678   13.0
0
troca 74439   11.0
0
troca 20680   13.0
0
troca 55   15.0
0
troca 99167   8.0
0
troca 20694   14.0
0
troca 20695   11.0
0
troca 99174   12.0
0
troca 65   14.0
0
troca 67   8.0
0
troca 99178   12.0
0
troca 20700   17.0
0
troca 99180   15.0
0
troca 75   10.0
0
troca 74467   20.0
0
troca 74468   18.0
0
troca 20710   15.0
0
troca 74470   15.0
0
troca 80   8.0
0
troca 99191   10.0
0
troca 74471   6.0
0
troca 81   9.0
0
troca 20714   17.0
0
troca 20720   8.0
0
troca 20721   9.0
0
troca 91   20.0
0
troca 74481   14.0
0
troca 74483   10.0
0
troca 74487   17.0
0
troca 74488   8.0
0
troca 20729   9.0
0
troca 99   20.0
0
troca 20730   14.0
0
troca 99209   7.0
0
troca 99210   13.0
0
troca 20732   8.0
0
troca 99212   9.0
0
troca 20733   8.0
0
troca 20741   9.0
0
troca 99220   18.0
0
troca 99222   13.0
0
troca 99223   14.0
0
troca 20746   7.0
0
troca 99225   13.0
0
troca 99227   8.0
0
troca 20750   15.0
0
troca 20754   7.0
0
troca 99235   15.0
0
troca 20764   9.0
0
troca 99244   7.0
0
troca 20768   7.0
0
troca 20776   10.0
0
troca 20778   11.0
0
troca 99264   7.0
0
troca 99267   6.0
0
troca 20788   15.0
0
troca 20789   9.0
0
troca 20791   13.0
0
troca 20794   14.0
0
troca 99281   12.0
0
troca 99282   8.0
0
troca 20803   14.0
0
troca 99283   10.0
0
troca 20807   6.0
0
troca 99286   12.0
0
troca 99288   12.0
0
troca 20812   14.0
0
troca 99292   15.0
0
troca 99293   10.0
0
troca 20815   19.0
0
troca 20816   10.0
0
troca 20820   12.0
0
troca 20822   13.0
0
troca 99303   15.0
0
troca 99307   11.0
0
troca 99311   13.0
0
troca 20838   8.0
0
troca 99318   11.0
0
troca 20840   8.0
0
troca 20841   6.0
0
troca 99322   14.0
0
troca 99325   17.0
0
troca 99333   14.0
0
troca 20855   11.0
0
troca 20857   14.0
0
troca 20861   8.0
0
troca 20866   12.0
0
troca 99346   18.0
0
troca 99347   16.0
0
troca 20872   17.0
0
troca 20875   16.0
0
troca 20882   12.0
0

In [32]:
data.head(3)

,engine_no,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,...,sensor_meas_17,sensor_meas_18,sensor_meas_19,sensor_meas_20,sensor_meas_21,index,time,engine_family,RUL,target
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,392,2388,100.0,39.06,23.4190,0,2000-01-01,1,112.0,10
20631,1,1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,...,334,2223,100.0,14.73,8.8071,0,2000-01-01,2,18.0,0
74390,1,1,-0.0005,0.0004,100.0,518.67,642.36,1583.23,1396.84,14.62,...,391,2388,100.0,39.11,23.3537,0,2000-01-01,3,44.0,0