# Experiment 1 - Predict using XGBoost

### Notebook 2: Data ELabeling

In [10]:
import pandas as pd
import featuretools as ft

In [27]:
X = pd.read_hdf('X.h5', key='X')
y = pd.read_hdf('y.h5', key='y')
X = X.set_index(['engine_no', 'time'])
X = X.drop(['index'], axis=1)

In [28]:
X.head(5)

                               op_setting_1  op_setting_2  op_setting_3  \
engine_no time
1.0       2000-01-01 00:00:00       -0.0007       -0.0004         100.0
          2000-01-01 00:00:00       34.9983        0.8400         100.0
          2000-01-01 00:00:00       -0.0005        0.0004         100.0
          2000-01-01 00:00:00       42.0049        0.8400         100.0
          2000-01-01 00:10:00       20.0020        0.7002         100.0

                               sensor_meas_1  sensor_meas_2  sensor_meas_3  \
engine_no time
1.0       2000-01-01 00:00:00         518.67         641.82        1589.70
          2000-01-01 00:00:00         449.44         555.32        1358.61
          2000-01-01 00:00:00         518.67         642.36        1583.23
          2000-01-01 00:00:00         445.00         549.68        1343.43
          2000-01-01 00:10:00         491.19         606.07        1477.61

                               sensor_meas_4  sensor_meas_5  sensor_meas_6  \
engine_no time
1.0       2000-01-01 00:00:00        1400.60          14.62          21.61
          2000-01-01 00:00:00        1137.23           5.48           8.00
          2000-01-01 00:00:00        1396.84          14.62          21.61
          2000-01-01 00:00:00        1112.93           3.91           5.70
          2000-01-01 00:10:00        1237.50           9.35          13.61

                               sensor_meas_7  ...  sensor_meas_14  \
engine_no time                                ...
1.0       2000-01-01 00:00:00         554.36  ...         8138.62
          2000-01-01 00:00:00         194.64  ...         8048.56
          2000-01-01 00:00:00         553.97  ...         8145.32
          2000-01-01 00:00:00         137.36  ...         8074.83
          2000-01-01 00:10:00         332.10  ...         8046.13

                               sensor_meas_15  sensor_meas_16  sensor_meas_19  \
engine_no time
1.0       2000-01-01 00:00:00          8.4195            0.03           100.0
          2000-01-01 00:00:00          9.3461            0.02           100.0
          2000-01-01 00:00:00          8.4246            0.03           100.0
          2000-01-01 00:00:00          9.3335            0.02           100.0
          2000-01-01 00:10:00          9.1913            0.02           100.0

                               sensor_meas_20  sensor_meas_21  time_in_cycles  \
engine_no time
1.0       2000-01-01 00:00:00           39.06         23.4190             1.0
          2000-01-01 00:00:00           14.73          8.8071             1.0
          2000-01-01 00:00:00           39.11         23.3537             1.0
          2000-01-01 00:00:00           10.62          6.3670             1.0
          2000-01-01 00:10:00           24.37         14.6552             2.0

                               sensor_meas_17  sensor_meas_18  engine_family
engine_no time
1.0       2000-01-01 00:00:00           392.0          2388.0            1.0
          2000-01-01 00:00:00           334.0          2223.0            2.0
          2000-01-01 00:00:00           391.0          2388.0            3.0
          2000-01-01 00:00:00           330.0          2212.0            4.0
          2000-01-01 00:10:00           361.0          2324.0            4.0

[5 rows x 26 columns]

In [29]:
X.dtypes

op_setting_1      float64
op_setting_2      float64
op_setting_3      float64
sensor_meas_1     float64
sensor_meas_2     float64
sensor_meas_3     float64
sensor_meas_4     float64
sensor_meas_5     float64
sensor_meas_6     float64
sensor_meas_7     float64
sensor_meas_8     float64
sensor_meas_9     float64
sensor_meas_10    float64
sensor_meas_11    float64
sensor_meas_12    float64
sensor_meas_13    float64
sensor_meas_14    float64
sensor_meas_15    float64
sensor_meas_16    float64
sensor_meas_19    float64
sensor_meas_20    float64
sensor_meas_21    float64
time_in_cycles    float64
sensor_meas_17    float64
sensor_meas_18    float64
engine_family     float64
dtype: object

**Date/time features**

In [30]:
es = ft.EntitySet()

In [45]:
var_types={
    'op_setting_1':ft.variable_types.Numeric,
    'op_setting_2':ft.variable_types.Numeric,
    'op_setting_3':ft.variable_types.Numeric,
    'sensor_meas_1':ft.variable_types.Numeric,
    'sensor_meas_2':ft.variable_types.Numeric,
    'sensor_meas_3':ft.variable_types.Numeric,
    'sensor_meas_4':ft.variable_types.Numeric,
    'sensor_meas_5':ft.variable_types.Numeric,
    'sensor_meas_6':ft.variable_types.Numeric,
    'sensor_meas_7':ft.variable_types.Numeric,
    'sensor_meas_8':ft.variable_types.Numeric,
    'sensor_meas_9':ft.variable_types.Numeric,
    'sensor_meas_10':ft.variable_types.Numeric,
    'sensor_meas_11':ft.variable_types.Numeric,
    'sensor_meas_12':ft.variable_types.Numeric,
    'sensor_meas_13':ft.variable_types.Numeric,
    'sensor_meas_14':ft.variable_types.Numeric,
    'sensor_meas_15':ft.variable_types.Numeric,
    'sensor_meas_16':ft.variable_types.Numeric,
    'sensor_meas_19':ft.variable_types.Numeric,
    'sensor_meas_20':ft.variable_types.Numeric,
    'sensor_meas_21':ft.variable_types.Numeric,
    'time_in_cycles':ft.variable_types.Datetime,
    'sensor_meas_17':ft.variable_types.Numeric,
    'sensor_meas_18':ft.variable_types.Numeric,
    'engine_family':ft.variable_types.Numeric
}

In [46]:
es.entity_from_dataframe(
    entity_id='base',
    dataframe=X,
    index=['engine_no', 'time'],
    variable_types=var_types,
#     make_index=True,
    already_sorted=True
    
)

TypeError: unhashable type: 'list'