# Notebook 5 - Make 3D tensors

In [1]:
import pandas as pd
import numpy as np

In [73]:
X_df = pd.read_hdf('X.h5', key='X')
y = pd.read_hdf('y.h5', key='y')
X_df = X_df.drop(['index'], axis=1)

In [39]:
X_df.shape

(160359, 28)

**Create eng_fam**

In [53]:
X_df['eng_fam'] = ''

In [77]:
for i in range(len(X_df)):
# for i in range(5):
    engine = X_df.at[i,'engine_no']
    engine = str(int(engine))
#     print(engine)
    family = str(int(X_df.at[i, 'engine_family']))
    X_df.at[i,'eng_fam'] = engine + '_' + family

In [78]:
X_df.head(10)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_19,sensor_meas_20,sensor_meas_21,time,engine_no,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family,eng_fam
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,100.00,39.06,23.4190,2000-01-01 00:00:00,1.0,1.0,392.0,2388.0,1.0,1_1
1,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,8.00,194.64,...,100.00,14.73,8.8071,2000-01-01 00:00:00,1.0,1.0,334.0,2223.0,2.0,1_2
2,-0.0005,0.0004,100.0,518.67,642.36,1583.23,1396.84,14.62,21.61,553.97,...,100.00,39.11,23.3537,2000-01-01 00:00:00,1.0,1.0,391.0,2388.0,3.0,1_3
3,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,5.70,137.36,...,100.00,10.62,6.3670,2000-01-01 00:00:00,1.0,1.0,330.0,2212.0,4.0,1_4
4,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,13.61,332.10,...,100.00,24.37,14.6552,2000-01-01 00:10:00,1.0,2.0,361.0,2324.0,4.0,1_4
5,0.0008,-0.0003,100.0,518.67,642.50,1584.69,1396.89,14.62,21.61,554.55,...,100.00,38.99,23.4491,2000-01-01 00:10:00,1.0,2.0,392.0,2388.0,3.0,1_3
6,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,100.00,39.00,23.4236,2000-01-01 00:10:00,1.0,2.0,392.0,2388.0,1.0,1_1
7,41.9982,0.8408,100.0,445.00,549.90,1353.22,1125.78,3.91,5.71,138.51,...,100.00,10.41,6.2665,2000-01-01 00:10:00,1.0,2.0,330.0,2212.0,2.0,1_2
11,24.9988,0.6218,60.0,462.54,537.31,1256.76,1047.45,7.05,9.02,175.71,...,84.93,14.08,8.6723,2000-01-01 00:20:00,1.0,3.0,309.0,1915.0,2.0,1_2
10,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,100.00,38.95,23.3442,2000-01-01 00:20:00,1.0,3.0,390.0,2388.0,1.0,1_1

In [81]:
X_df = X_df.drop(['engine_no'], axis=1)

In [82]:
unique_eng_fam = X_df['eng_fam'].unique()

In [84]:
len(unique_eng_fam)

709

In [85]:
X_df.shape

(160359, 28)

**ToDo**
* OK -  uma nova coluna que identifica unicamente cada motor: eng_fam = engine_no + engine_family
* OK - dropar a engine_no
* OK - gerar uma lista de unique eng_fam. Ler o dataframe. 
* Ordenar pelo eng_fam 
* PARA eng in eng_fam:
    * acha o intervalo que tem aquele eng_fam (acha o próximo, pega a posição anterior
    * Copia o intervalo e dá append numa lista
* Para cada card, ordenar pelo timestamp

In [87]:
X_df = X_df.sort_values(by=['eng_fam', 'time'])

In [88]:
X_df.head(10)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_16,sensor_meas_19,sensor_meas_20,sensor_meas_21,time,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family,eng_fam
81725,-0.0033,0.0003,100.0,518.67,642.25,1596.57,1404.52,14.62,21.61,553.99,...,0.03,100.0,38.72,23.3899,2000-05-21 21:10:00,1.0,393.0,2388.0,1.0,100_1
81728,0.0010,-0.0004,100.0,518.67,642.37,1589.43,1397.40,14.62,21.60,554.33,...,0.03,100.0,39.18,23.2460,2000-05-21 21:20:00,2.0,393.0,2388.0,1.0,100_1
81734,0.0024,-0.0004,100.0,518.67,643.13,1588.55,1397.71,14.62,21.61,554.24,...,0.03,100.0,38.95,23.2034,2000-05-21 21:30:00,3.0,393.0,2388.0,1.0,100_1
81736,0.0014,0.0001,100.0,518.67,642.33,1588.13,1397.93,14.62,21.61,553.94,...,0.03,100.0,38.77,23.2495,2000-05-21 21:40:00,4.0,393.0,2388.0,1.0,100_1
81741,-0.0018,0.0003,100.0,518.67,641.90,1590.02,1400.60,14.62,21.61,553.60,...,0.03,100.0,39.06,23.2351,2000-05-21 21:50:00,5.0,392.0,2388.0,1.0,100_1
81744,-0.0013,-0.0004,100.0,518.67,642.19,1588.84,1403.20,14.62,21.61,553.79,...,0.03,100.0,38.91,23.5751,2000-05-21 22:00:00,6.0,392.0,2388.0,1.0,100_1
81748,-0.0009,-0.0003,100.0,518.67,642.88,1590.24,1397.64,14.62,21.61,553.70,...,0.03,100.0,38.99,23.2404,2000-05-21 22:10:00,7.0,393.0,2388.0,1.0,100_1
81754,0.0043,0.0002,100.0,518.67,642.76,1585.19,1405.63,14.62,21.61,553.56,...,0.03,100.0,38.98,23.2470,2000-05-21 22:20:00,8.0,391.0,2388.0,1.0,100_1
81759,0.0022,0.0000,100.0,518.67,642.36,1586.99,1405.23,14.62,21.61,553.97,...,0.03,100.0,38.93,23.3107,2000-05-21 22:30:00,9.0,392.0,2388.0,1.0,100_1
81760,0.0050,-0.0002,100.0,518.67,642.40,1589.51,1408.18,14.62,21.61,553.98,...,0.03,100.0,39.06,23.4296,2000-05-21 22:40:00,10.0,392.0,2388.0,1.0,100_1

In [ ]:
?X_df.to_numpy

In [ ]:
# Time information is on index 22
X_np[0][22]

In [ ]:
X.shape