# Experiment 1 - Predict using XGBoost

Dataset: Turbofan Engine Degradation Simulation Data Set (https://ti.arc.nasa.gov/tech/dash/groups/pcoe/prognostic-data-repository/#turbofan)  
Details: Timestamp

**ToDo**
* O dataset de teste não tem os labels, então:
    * Incluir uma coluna dizendo a qual família de motores aqueles dados fazem parte
    * Concatenar train-label de todos os train
    * Ordenar por timestamp
    * Dividir em treino - teste simples

## 1. Load and prepare data

In [50]:
import pandas as pd
import random
import datetime

In [84]:
def load_data(data_path):   
    operational_settings = ['op_setting_{}'.format(i + 1) for i in range (3)]
    sensor_columns = ['sensor_meas_{}'.format(i + 1) for i in range(26)]
    cols = ['engine_no', 'time_in_cycles'] + operational_settings + sensor_columns
    data = pd.read_csv(data_path, sep=' ', header=-1, names=cols)
    data = data.drop(cols[-5:], axis=1)
    data['index'] = data.index
    data.index = data['index']
    data['time'] = pd.date_range('1/1/2000', periods=data.shape[0], freq='600s')
    print('Loaded data with:\n{} Recordings\n{} Engines'.format(
        data.shape[0], len(data['engine_no'].unique())))
    print('21 Sensor Measurements\n3 Operational Settings')
    return data

In [88]:
data_path = "../data/train_FD004.txt"
X_train = load_data(data_path)
y_train = read_csv("../data/RUL_FD004.txt")

Loaded data with:
61249 Recordings
249 Engines
21 Sensor Measurements
3 Operational Settings

FileNotFoundError: [Errno 2] File b'../data/RUL_FD004.txt' does not exist: b'../data/RUL_FD004.txt'

In [86]:
X.head(3)

,engine_no,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,...,sensor_meas_14,sensor_meas_15,sensor_meas_16,sensor_meas_17,sensor_meas_18,sensor_meas_19,sensor_meas_20,sensor_meas_21,index,time
index,,,,,,,,,,,,,,,,,,,,,
0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,...,8074.83,9.3335,0.02,330,2212,100.0,10.62,6.3670,0,2000-01-01 00:00:00
1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,...,8046.13,9.1913,0.02,361,2324,100.0,24.37,14.6552,1,2000-01-01 00:10:00
2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,1117.05,3.91,...,8066.62,9.4007,0.02,329,2212,100.0,10.48,6.4213,2,2000-01-01 00:20:00

In [87]:
data.dtypes

engine_no                float64
time_in_cycles           float64
op_sett_1                float64
op_sett_2                float64
op_sett_3                float64
sensor_meas_1            float64
sensor_meas_2            float64
sensor_meas_3            float64
sensor_meas_4            float64
sensor_meas_5            float64
sensor_meas_6            float64
sensor_meas_7            float64
sensor_meas_8            float64
sensor_meas_9            float64
sensor_meas_10           float64
sensor_meas_11           float64
sensor_meas_12           float64
sensor_meas_13           float64
sensor_meas_14           float64
sensor_meas_15             int64
sensor_meas_16             int64
sensor_meas_17           float64
sensor_meas_18           float64
sensor_meas_19           float64
sensor_meas_20           float64
sensor_meas_21           float64
index                     object
time              datetime64[ns]
dtype: object

### 1.1 - Label data
Make time series suitable for classification problem

In [58]:
#counts holds a list of unique engine numbers
engine=[]
engine=data['engine_no'].value_counts()

In [74]:
#In this part I will create a DataFrame with the cutoof times for each machine, and create a Label with remaining
#Cycles

#define how long you want to know ahead if a engine will fail (define in hours)
prediction_gap_in_hours = 1

delt=0

engine_no=[]
cutoff=[]

# RUL = Remaining Useful Life
# I think it's how long before the engine fails
# Measured in cycles
RUL=[]

for i in range (1, len(engine)+1):
        engine_no.append(int(i))
        
        #Before the window
        # |?| Wht is this random time here?
        previous=random.randint(0,50)

        #cutoff in hours
        #|?| tot now holds the prediction gap + some random time 
        # |?| WHY?
        tot=prediction_gap_in_hours+previous
#         print(tot)

         #cutoff in cycles
        #|?| What is this for??
        cut_cy=int(tot*6)
        
        # Are these the labels??
        # Did he made them up?
        RUL.append(int(cut_cy))
        
        delt=delt+engine[i]
    
        sec=(delt-cut_cy)*600      
    
        date = datetime.datetime(2000, 1, 1, 0, 0, 0) + datetime.timedelta(seconds=int(sec)) 
        cutoff.append((date))
        
dict_new = {
    'engine_no': engine_no,
    'cutoff': cutoff,
    'RUL': RUL
}

cutoff_times=pd.DataFrame(dict_new)

In [75]:
for i in range(len(RUL)):
    print("Engine_no:", engine_no[i], " has", RUL[i], " cycles of life")

Engine_no: 1  has 294  cycles of life
Engine_no: 2  has 90  cycles of life
Engine_no: 3  has 168  cycles of life
Engine_no: 4  has 246  cycles of life
Engine_no: 5  has 306  cycles of life
Engine_no: 6  has 132  cycles of life
Engine_no: 7  has 264  cycles of life
Engine_no: 8  has 90  cycles of life
Engine_no: 9  has 270  cycles of life
Engine_no: 10  has 138  cycles of life
Engine_no: 11  has 264  cycles of life
Engine_no: 12  has 186  cycles of life
Engine_no: 13  has 138  cycles of life
Engine_no: 14  has 144  cycles of life
Engine_no: 15  has 300  cycles of life
Engine_no: 16  has 60  cycles of life
Engine_no: 17  has 222  cycles of life
Engine_no: 18  has 276  cycles of life
Engine_no: 19  has 234  cycles of life
Engine_no: 20  has 192  cycles of life
Engine_no: 21  has 138  cycles of life
Engine_no: 22  has 252  cycles of life
Engine_no: 23  has 54  cycles of life
Engine_no: 24  has 240  cycles of life
Engine_no: 25  has 210  cycles of life
Engine_no: 26  has 162  cycles of life
Engine_no: 27  has 264  cycles of life
Engine_no: 28  has 120  cycles of life
Engine_no: 29  has 78  cycles of life
Engine_no: 30  has 36  cycles of life
Engine_no: 31  has 156  cycles of life
Engine_no: 32  has 222  cycles of life
Engine_no: 33  has 126  cycles of life
Engine_no: 34  has 234  cycles of life
Engine_no: 35  has 30  cycles of life
Engine_no: 36  has 294  cycles of life
Engine_no: 37  has 42  cycles of life
Engine_no: 38  has 294  cycles of life
Engine_no: 39  has 12  cycles of life
Engine_no: 40  has 84  cycles of life
Engine_no: 41  has 72  cycles of life
Engine_no: 42  has 42  cycles of life
Engine_no: 43  has 276  cycles of life
Engine_no: 44  has 120  cycles of life
Engine_no: 45  has 240  cycles of life
Engine_no: 46  has 198  cycles of life
Engine_no: 47  has 144  cycles of life
Engine_no: 48  has 228  cycles of life
Engine_no: 49  has 228  cycles of life
Engine_no: 50  has 162  cycles of life
Engine_no: 51  has 78  cycles of life
Engine_no: 52  has 300  cycles of life
Engine_no: 53  has 258  cycles of life
Engine_no: 54  has 288  cycles of life
Engine_no: 55  has 174  cycles of life
Engine_no: 56  has 174  cycles of life
Engine_no: 57  has 294  cycles of life
Engine_no: 58  has 150  cycles of life
Engine_no: 59  has 150  cycles of life
Engine_no: 60  has 150  cycles of life
Engine_no: 61  has 180  cycles of life
Engine_no: 62  has 228  cycles of life
Engine_no: 63  has 72  cycles of life
Engine_no: 64  has 72  cycles of life
Engine_no: 65  has 276  cycles of life
Engine_no: 66  has 84  cycles of life
Engine_no: 67  has 54  cycles of life
Engine_no: 68  has 36  cycles of life
Engine_no: 69  has 144  cycles of life
Engine_no: 70  has 78  cycles of life
Engine_no: 71  has 264  cycles of life
Engine_no: 72  has 156  cycles of life
Engine_no: 73  has 228  cycles of life
Engine_no: 74  has 174  cycles of life
Engine_no: 75  has 36  cycles of life
Engine_no: 76  has 168  cycles of life
Engine_no: 77  has 192  cycles of life
Engine_no: 78  has 204  cycles of life
Engine_no: 79  has 120  cycles of life
Engine_no: 80  has 60  cycles of life
Engine_no: 81  has 246  cycles of life
Engine_no: 82  has 264  cycles of life
Engine_no: 83  has 240  cycles of life
Engine_no: 84  has 228  cycles of life
Engine_no: 85  has 156  cycles of life
Engine_no: 86  has 6  cycles of life
Engine_no: 87  has 24  cycles of life
Engine_no: 88  has 306  cycles of life
Engine_no: 89  has 114  cycles of life
Engine_no: 90  has 42  cycles of life
Engine_no: 91  has 222  cycles of life
Engine_no: 92  has 222  cycles of life
Engine_no: 93  has 258  cycles of life
Engine_no: 94  has 192  cycles of life
Engine_no: 95  has 228  cycles of life
Engine_no: 96  has 144  cycles of life
Engine_no: 97  has 144  cycles of life
Engine_no: 98  has 294  cycles of life
Engine_no: 99  has 168  cycles of life
Engine_no: 100  has 186  cycles of life
Engine_no: 101  has 180  cycles of life
Engine_no: 102  has 6  cycles of life
Engine_no: 103  has 234  cycles of life
Engine_no: 104  has 264  cycles of life
Engine_no: 105  has 90  cycles of life
Engine_no: 106  has 198  cycles of life
Engine_no: 107  has 288  cycles of life
Engine_no: 108  has 168  cycles of life
Engine_no: 109  has 186  cycles of life
Engine_no: 110  has 162  cycles of life
Engine_no: 111  has 210  cycles of life
Engine_no: 112  has 114  cycles of life
Engine_no: 113  has 246  cycles of life
Engine_no: 114  has 288  cycles of life
Engine_no: 115  has 288  cycles of life
Engine_no: 116  has 246  cycles of life
Engine_no: 117  has 66  cycles of life
Engine_no: 118  has 264  cycles of life
Engine_no: 119  has 96  cycles of life
Engine_no: 120  has 270  cycles of life
Engine_no: 121  has 180  cycles of life
Engine_no: 122  has 228  cycles of life
Engine_no: 123  has 252  cycles of life
Engine_no: 124  has 288  cycles of life
Engine_no: 125  has 252  cycles of life
Engine_no: 126  has 84  cycles of life
Engine_no: 127  has 174  cycles of life
Engine_no: 128  has 222  cycles of life
Engine_no: 129  has 48  cycles of life
Engine_no: 130  has 276  cycles of life
Engine_no: 131  has 234  cycles of life
Engine_no: 132  has 132  cycles of life
Engine_no: 133  has 12  cycles of life
Engine_no: 134  has 90  cycles of life
Engine_no: 135  has 150  cycles of life
Engine_no: 136  has 24  cycles of life
Engine_no: 137  has 126  cycles of life
Engine_no: 138  has 168  cycles of life
Engine_no: 139  has 66  cycles of life
Engine_no: 140  has 252  cycles of life
Engine_no: 141  has 300  cycles of life
Engine_no: 142  has 72  cycles of life
Engine_no: 143  has 66  cycles of life
Engine_no: 144  has 252  cycles of life
Engine_no: 145  has 216  cycles of life
Engine_no: 146  has 246  cycles of life
Engine_no: 147  has 192  cycles of life
Engine_no: 148  has 36  cycles of life
Engine_no: 149  has 168  cycles of life
Engine_no: 150  has 102  cycles of life
Engine_no: 151  has 126  cycles of life
Engine_no: 152  has 210  cycles of life
Engine_no: 153  has 156  cycles of life
Engine_no: 154  has 192  cycles of life
Engine_no: 155  has 246  cycles of life
Engine_no: 156  has 132  cycles of life
Engine_no: 157  has 288  cycles of life
Engine_no: 158  has 72  cycles of life
Engine_no: 159  has 144  cycles of life
Engine_no: 160  has 48  cycles of life
Engine_no: 161  has 258  cycles of life
Engine_no: 162  has 6  cycles of life
Engine_no: 163  has 192  cycles of life
Engine_no: 164  has 12  cycles of life
Engine_no: 165  has 54  cycles of life
Engine_no: 166  has 300  cycles of life
Engine_no: 167  has 228  cycles of life
Engine_no: 168  has 222  cycles of life
Engine_no: 169  has 168  cycles of life
Engine_no: 170  has 288  cycles of life
Engine_no: 171  has 204  cycles of life
Engine_no: 172  has 216  cycles of life
Engine_no: 173  has 114  cycles of life
Engine_no: 174  has 294  cycles of life
Engine_no: 175  has 234  cycles of life
Engine_no: 176  has 228  cycles of life
Engine_no: 177  has 168  cycles of life
Engine_no: 178  has 54  cycles of life
Engine_no: 179  has 258  cycles of life
Engine_no: 180  has 102  cycles of life
Engine_no: 181  has 156  cycles of life
Engine_no: 182  has 18  cycles of life
Engine_no: 183  has 174  cycles of life
Engine_no: 184  has 258  cycles of life
Engine_no: 185  has 6  cycles of life
Engine_no: 186  has 84  cycles of life
Engine_no: 187  has 48  cycles of life
Engine_no: 188  has 216  cycles of life
Engine_no: 189  has 186  cycles of life
Engine_no: 190  has 174  cycles of life
Engine_no: 191  has 48  cycles of life
Engine_no: 192  has 282  cycles of life
Engine_no: 193  has 306  cycles of life
Engine_no: 194  has 288  cycles of life
Engine_no: 195  has 246  cycles of life
Engine_no: 196  has 246  cycles of life
Engine_no: 197  has 240  cycles of life
Engine_no: 198  has 54  cycles of life
Engine_no: 199  has 258  cycles of life
Engine_no: 200  has 258  cycles of life
Engine_no: 201  has 54  cycles of life
Engine_no: 202  has 12  cycles of life
Engine_no: 203  has 54  cycles of life
Engine_no: 204  has 252  cycles of life
Engine_no: 205  has 288  cycles of life
Engine_no: 206  has 252  cycles of life
Engine_no: 207  has 168  cycles of life
Engine_no: 208  has 132  cycles of life
Engine_no: 209  has 240  cycles of life
Engine_no: 210  has 90  cycles of life
Engine_no: 211  has 300  cycles of life
Engine_no: 212  has 186  cycles of life
Engine_no: 213  has 60  cycles of life
Engine_no: 214  has 78  cycles of life
Engine_no: 215  has 186  cycles of life
Engine_no: 216  has 66  cycles of life
Engine_no: 217  has 48  cycles of life
Engine_no: 218  has 132  cycles of life
Engine_no: 219  has 174  cycles of life
Engine_no: 220  has 36  cycles of life
Engine_no: 221  has 132  cycles of life
Engine_no: 222  has 30  cycles of life
Engine_no: 223  has 144  cycles of life
Engine_no: 224  has 108  cycles of life
Engine_no: 225  has 288  cycles of life
Engine_no: 226  has 240  cycles of life
Engine_no: 227  has 102  cycles of life
Engine_no: 228  has 114  cycles of life
Engine_no: 229  has 66  cycles of life
Engine_no: 230  has 96  cycles of life
Engine_no: 231  has 84  cycles of life
Engine_no: 232  has 78  cycles of life
Engine_no: 233  has 102  cycles of life
Engine_no: 234  has 6  cycles of life
Engine_no: 235  has 174  cycles of life
Engine_no: 236  has 42  cycles of life
Engine_no: 237  has 102  cycles of life
Engine_no: 238  has 90  cycles of life
Engine_no: 239  has 72  cycles of life
Engine_no: 240  has 240  cycles of life
Engine_no: 241  has 204  cycles of life
Engine_no: 242  has 78  cycles of life
Engine_no: 243  has 96  cycles of life
Engine_no: 244  has 30  cycles of life
Engine_no: 245  has 282  cycles of life
Engine_no: 246  has 264  cycles of life
Engine_no: 247  has 192  cycles of life
Engine_no: 248  has 132  cycles of life
Engine_no: 249  has 228  cycles of life

In [73]:
cutoff_times

     engine_no              cutoff  RUL
0            1 2000-01-01 16:30:00  222
1            2 2000-01-03 07:20:00  288
2            3 2000-01-07 01:30:00   54
3            4 2000-01-08 20:10:00   72
4            5 2000-01-08 13:20:00  306
5            6 2000-01-11 12:30:00  210
6            7 2000-01-13 03:20:00  198
7            8 2000-01-14 13:40:00  222
8            9 2000-01-17 22:20:00   72
9           10 2000-01-19 03:20:00  252
10          11 2000-01-21 06:30:00  246
11          12 2000-01-23 09:50:00  210
12          13 2000-01-24 18:30:00  270
13          14 2000-01-28 00:40:00   54
14          15 2000-01-29 04:00:00  114
15          16 2000-01-30 00:40:00  174
16          17 2000-01-30 17:50:00  222
17          18 2000-02-02 17:00:00  138
18          19 2000-02-05 01:00:00   12
19          20 2000-02-05 05:50:00  228
20          21 2000-02-06 13:40:00  264
21          22 2000-02-09 00:50:00  120
22          23 2000-02-11 16:30:00   18
23          24 2000-02-12 04:30:00  132
24          25 2000-02-13 17:30:00   60
25          26 2000-02-14 17:00:00  216
26          27 2000-02-15 22:10:00  204
27          28 2000-02-17 11:50:00  180
28          29 2000-02-18 20:00:00  234
29          30 2000-02-21 04:30:00  192
..         ...                 ...  ...
219        220 2001-01-08 19:20:00  258
220        221 2001-01-10 16:00:00  264
221        222 2001-01-12 18:40:00  162
222        223 2001-01-15 09:50:00   30
223        224 2001-01-16 13:30:00  132
224        225 2001-01-20 00:10:00   54
225        226 2001-01-19 20:30:00  270
226        227 2001-01-23 14:20:00   18
227        228 2001-01-24 05:50:00  204
228        229 2001-01-25 17:30:00  270
229        230 2001-01-28 03:10:00  174
230        231 2001-01-28 18:30:00  276
231        232 2001-01-30 17:00:00  270
232        233 2001-02-02 04:10:00  204
233        234 2001-02-03 12:40:00  216
234        235 2001-02-04 18:50:00  234
235        236 2001-02-06 21:20:00  156
236        237 2001-02-08 13:40:00  126
237        238 2001-02-09 08:50:00  198
238        239 2001-02-11 06:40:00  288
239        240 2001-02-13 18:30:00   78
240        241 2001-02-15 02:50:00  216
241        242 2001-02-17 03:50:00  144
242        243 2001-02-19 15:20:00  114
243        244 2001-02-20 15:50:00  234
244        245 2001-02-23 15:00:00   12
245        246 2001-02-24 08:50:00   66
246        247 2001-02-25 13:00:00  108
247        248 2001-02-26 09:40:00  168
248        249 2001-02-27 18:10:00  228

[249 rows x 3 columns]

## 2. Feature engineering

**date time features**

**Lag values**