# Experiment 1 - Predict using XGBoost

### Notebook 3: Data exploration and preparation

**ToDo**
* Como transformar de uma lista de timestamps para um DF 2D?

In [47]:
import pandas as pd
from sklearn.preprocessing import minmax_scale

In [48]:
X = pd.read_hdf('X.h5', key='X')
y = pd.read_hdf('y.h5', key='y')
X = X.set_index('time')
X = X.drop(['index'], axis=1)

In [49]:
X.head(5)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_15,sensor_meas_16,sensor_meas_19,sensor_meas_20,sensor_meas_21,engine_no,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
time,,,,,,,,,,,,,,,,,,,,,
2000-01-01 00:00:00,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,8.4195,0.03,100.0,39.06,23.4190,1.0,1.0,392.0,2388.0,1.0
2000-01-01 00:00:00,34.9983,0.8400,100.0,449.44,555.32,1358.61,1137.23,5.48,8.00,194.64,...,9.3461,0.02,100.0,14.73,8.8071,1.0,1.0,334.0,2223.0,2.0
2000-01-01 00:00:00,-0.0005,0.0004,100.0,518.67,642.36,1583.23,1396.84,14.62,21.61,553.97,...,8.4246,0.03,100.0,39.11,23.3537,1.0,1.0,391.0,2388.0,3.0
2000-01-01 00:00:00,42.0049,0.8400,100.0,445.00,549.68,1343.43,1112.93,3.91,5.70,137.36,...,9.3335,0.02,100.0,10.62,6.3670,1.0,1.0,330.0,2212.0,4.0
2000-01-01 00:10:00,20.0020,0.7002,100.0,491.19,606.07,1477.61,1237.50,9.35,13.61,332.10,...,9.1913,0.02,100.0,24.37,14.6552,1.0,2.0,361.0,2324.0,4.0

In [50]:
X.describe()

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_15,sensor_meas_16,sensor_meas_19,sensor_meas_20,sensor_meas_21,engine_no,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
count,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,...,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000
mean,17.211973,0.410004,95.724344,485.840890,597.361022,1467.035653,1260.956434,9.894999,14.424935,359.729968,...,9.054747,0.025185,98.389146,25.942709,15.565700,105.553758,123.331338,360.698801,2273.754039,2.789398
std,16.527988,0.367938,12.359044,30.420388,42.478516,118.175261,136.300073,4.265554,6.443922,174.133835,...,0.751581,0.004997,4.656270,11.691422,7.015067,72.867325,83.538146,31.021430,142.513114,1.089709
min,-0.008700,-0.000600,60.000000,445.000000,535.480000,1242.670000,1023.770000,3.910000,5.670000,136.170000,...,8.156300,0.020000,84.930000,10.160000,6.010500,1.000000,1.000000,302.000000,1915.000000,1.000000
25%,0.001300,0.000200,100.000000,449.440000,549.960000,1357.360000,1126.830000,5.480000,8.000000,175.710000,...,8.439250,0.020000,100.000000,14.330000,8.601300,44.000000,57.000000,332.000000,2212.000000,2.000000
50%,19.998100,0.620000,100.000000,489.050000,605.930000,1492.810000,1271.740000,9.350000,13.660000,341.690000,...,9.030100,0.030000,100.000000,24.920000,14.953500,89.000000,114.000000,367.000000,2319.000000,3.000000
75%,35.001500,0.840000,100.000000,518.670000,642.340000,1586.590000,1402.200000,14.620000,21.610000,553.290000,...,9.344200,0.030000,100.000000,38.820000,23.294600,164.000000,173.000000,392.000000,2388.000000,4.000000
max,42.008000,0.842000,100.000000,518.670000,645.110000,1616.910000,1441.490000,14.620000,21.610000,570.810000,...,11.066900,0.030000,100.000000,39.890000,23.950500,260.000000,543.000000,400.000000,2388.000000,4.000000

Os valores estão em ranges muito diferentes. Será necessário normalizar os valores

In [51]:
X.dtypes

op_setting_1      float64
op_setting_2      float64
op_setting_3      float64
sensor_meas_1     float64
sensor_meas_2     float64
sensor_meas_3     float64
sensor_meas_4     float64
sensor_meas_5     float64
sensor_meas_6     float64
sensor_meas_7     float64
sensor_meas_8     float64
sensor_meas_9     float64
sensor_meas_10    float64
sensor_meas_11    float64
sensor_meas_12    float64
sensor_meas_13    float64
sensor_meas_14    float64
sensor_meas_15    float64
sensor_meas_16    float64
sensor_meas_19    float64
sensor_meas_20    float64
sensor_meas_21    float64
engine_no         float64
time_in_cycles    float64
sensor_meas_17    float64
sensor_meas_18    float64
engine_family     float64
dtype: object

In [68]:
for col in X.columns:
    print(col, " has ", X[col].unique().shape[0], "uniques")

op_setting_1  has  670 uniques
op_setting_2  has  111 uniques
op_setting_3  has  2 uniques
sensor_meas_1  has  6 uniques
sensor_meas_2  has  1799 uniques
sensor_meas_3  has  15377 uniques
sensor_meas_4  has  20582 uniques
sensor_meas_5  has  6 uniques
sensor_meas_6  has  56 uniques
sensor_meas_7  has  6311 uniques
sensor_meas_8  has  1163 uniques
sensor_meas_9  has  34161 uniques
sensor_meas_10  has  21 uniques
sensor_meas_11  has  771 uniques
sensor_meas_12  has  5982 uniques
sensor_meas_13  has  567 uniques
sensor_meas_14  has  20090 uniques
sensor_meas_15  has  13124 uniques
sensor_meas_16  has  2 uniques
sensor_meas_19  has  2 uniques
sensor_meas_20  has  676 uniques
sensor_meas_21  has  26659 uniques
engine_no  has  260 uniques
time_in_cycles  has  543 uniques
sensor_meas_17  has  58 uniques
sensor_meas_18  has  6 uniques
engine_family  has  4 uniques

In [59]:
X['engine_no'].unique().shape

(260,)

In [25]:
X.isnull().values.any()

False

In [29]:
# Normalização das features
X = pd.DataFrame(minmax_scale(X, feature_range=(0, 1)))
X.describe()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
count,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,...,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000
mean,0.409853,0.487306,0.893109,0.554376,0.564453,0.599523,0.567812,0.558823,0.549243,0.514357,...,0.308681,0.518537,0.893109,0.530868,0.532620,0.403682,0.225704,0.598967,0.758465,0.596466
std,0.393367,0.436670,0.308976,0.412928,0.387472,0.315774,0.326295,0.398278,0.404261,0.400639,...,0.258222,0.499658,0.308976,0.393253,0.391029,0.281341,0.154129,0.316545,0.301296,0.363236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000238,0.000949,1.000000,0.060269,0.132081,0.306461,0.246720,0.146592,0.146173,0.090972,...,0.097214,0.000000,1.000000,0.140262,0.144415,0.166023,0.103321,0.306122,0.627907,0.333333
50%,0.476163,0.736530,1.000000,0.597937,0.642616,0.668395,0.593627,0.507937,0.501255,0.472851,...,0.300213,1.000000,1.000000,0.496468,0.498495,0.339768,0.208487,0.663265,0.854123,0.666667
75%,0.833245,0.997626,1.000000,1.000000,0.974733,0.918982,0.905942,1.000000,1.000000,0.959691,...,0.408129,1.000000,1.000000,0.964009,0.963439,0.629344,0.317343,0.918367,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Visualização das séries

In [ ]:
# create a line plot for each variable

x_axis = X[1]

pyplot.figure()

In [30]:
X.shape[1]

27

In [31]:
# plot inputs for a chunk
from numpy import unique
from pandas import read_csv
from matplotlib import pyplot

def plot_chunk_inputs(values, c_ids):
    pyplot.figure()
    
    # n features
    inputs = range(27)
    
    for i in range(len(inputs)):
        ax = pyplot.subplot(len(inputs), 1, i+1)
        ax.set_xticklabels([])
        ax.set_yticklabels([])
        column = inputs[i]
        rows = values
        pyplot.plot(rows[:,column])
    pyplot.show()

# group data by chunks
values = X.values

# plot inputs for some chunks

plot_chunk_inputs(values, [1])