# Notebook 3 - Make 3D tensors

In [1]:
import pandas as pd
import numpy as np

In [126]:
data = pd.read_hdf('data2.h5', key='data')

In [127]:
print(data.shape)

(159788, 31)

In [128]:
data = data.drop(['index', 'engine_no'], axis=1)
data.head(5)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_19,sensor_meas_20,sensor_meas_21,target,eng_fam,time,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
index,,,,,,,,,,,,,,,,,,,,,
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,100.0,39.06,23.4190,não falha,0_1,2000-01-01 00:00:00,1.0,392.0,2388.0,1.0
1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,100.0,39.00,23.4236,não falha,0_1,2000-01-01 00:10:00,2.0,392.0,2388.0,1.0
2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,100.0,38.95,23.3442,não falha,0_1,2000-01-01 00:20:00,3.0,390.0,2388.0,1.0
3,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,...,100.0,38.88,23.3739,não falha,0_1,2000-01-01 00:30:00,4.0,392.0,2388.0,1.0
4,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,...,100.0,38.90,23.4044,não falha,0_1,2000-01-01 00:40:00,5.0,393.0,2388.0,1.0

In [27]:
np.amin(size, axis=0)

128

In [37]:
for i, item in enumerate(cards):
    to_drop = [i for i in range (128, item.shape[0])]
    item.drop(labels=to_drop, axis=0, inplace=True)

In [43]:
# Conferir se deu certo
for item in cards:
    if item.shape[0] is not 128:
        print(item.shape)

# Make 3D array

In [54]:
print(len(cards))
print(type(cards))
print(type(cards[0]))

707
<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [63]:
# teste = np.array(cards, ndmin=3)

In [64]:
# cards_np=np.empty(shape=(707, 128, 29))
# for item in cards:
#     np.insert(obj=cards_np, values=np.array(item.values), axis=3)

In [76]:
df.shape

(128, 19923)

In [94]:
# concat everything again

df = cards[0].copy(deep=True)
var =1
for item in cards:
        aux = item.copy(deep=True)
        df = pd.concat([df, aux], axis=0)
        var =var+1
        if var%100 is 0:
            print(var, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707

In [95]:
df.shape

(90624, 29)

In [96]:
df.head(3)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_19,sensor_meas_20,sensor_meas_21,target,eng_fam,time,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,100.0,39.06,23.4190,não falha,0_1,2000-01-01 00:00:00,1.0,392.0,2388.0,1.0
1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,100.0,39.00,23.4236,não falha,0_1,2000-01-01 00:10:00,2.0,392.0,2388.0,1.0
2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,100.0,38.95,23.3442,não falha,0_1,2000-01-01 00:20:00,3.0,390.0,2388.0,1.0

**Separar o target**

In [123]:
y = df[['eng_fam', 'target']].copy(deep=True)

In [124]:
y.shape

(90624, 2)

In [125]:
# gerar eng_fam unico
# fazer query do target
# gerar único do target
# adicionar na lista
eng_fam_unique = y['eng_fam'].unique()

In [122]:
y.shape

(90624, 2)

In [116]:
# y.groupby(['eng_fam']).count()

         target
eng_fam
0_1         256
0_2         128
0_3         128
0_4         128
100_2       128
100_4       128
101_2       128
101_4       128
102_2       128
102_4       128
103_2       128
103_4       128
104_2       128
104_4       128
105_2       128
105_4       128
106_2       128
106_4       128
107_2       128
107_4       128
108_2       128
108_4       128
109_2       128
109_4       128
10_1        128
10_2        128
10_3        128
10_4        128
110_2       128
110_4       128
...         ...
93_3        128
93_4        128
94_1        128
94_2        128
94_3        128
94_4        128
95_1        128
95_2        128
95_3        128
95_4        128
96_1        128
96_2        128
96_3        128
96_4        128
97_1        128
97_2        128
97_3        128
97_4        128
98_1        128
98_2        128
98_3        128
98_4        128
99_1        128
99_2        128
99_3        128
99_4        128
9_1         128
9_2         128
9_3         128
9_4         128

[707 rows x 1 columns]

In [103]:
data_3d = np.array(list(df.groupby('eng_fam').apply(pd.DataFrame.as_matrix)))

# https://stackoverflow.com/questions/23478297/pandas-dataframe-or-panel-to-3d-numpy-array

In [98]:
type(data_3d)

numpy.ndarray

In [99]:
data_3d.shape

(707,)

In [100]:
data_3d[0]

array([[-0.0007, -0.0004, 100.0, ..., 392.0, 2388.0, 1.0],
       [0.0019, -0.0003, 100.0, ..., 392.0, 2388.0, 1.0],
       [-0.0043, 0.0003, 100.0, ..., 390.0, 2388.0, 1.0],
       ...,
       [0.0016, 0.0001, 100.0, ..., 392.0, 2388.0, 1.0],
       [-0.001, 0.0002, 100.0, ..., 393.0, 2388.0, 1.0],
       [-0.0006, 0.0003, 100.0, ..., 393.0, 2388.0, 1.0]], dtype=object)

In [102]:
# Persistir o objeto
path="data_3d.npy"
np.save(path, data_3d)

end ====================================================