# Notebook 3 - Make 3D tensors

In [142]:
import pandas as pd
import numpy as np

In [53]:
data = pd.read_hdf('data/data2.h5', key='data')

In [54]:
print(data.shape)

(159788, 31)

In [55]:
data = data.drop(['index', 'engine_no'], axis=1)
data.head(5)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_19,sensor_meas_20,sensor_meas_21,target,eng_fam,time,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
index,,,,,,,,,,,,,,,,,,,,,
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,100.0,39.06,23.4190,não falha,0_1,2000-01-01 00:00:00,1.0,392.0,2388.0,1.0
1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,100.0,39.00,23.4236,não falha,0_1,2000-01-01 00:10:00,2.0,392.0,2388.0,1.0
2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,100.0,38.95,23.3442,não falha,0_1,2000-01-01 00:20:00,3.0,390.0,2388.0,1.0
3,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,...,100.0,38.88,23.3739,não falha,0_1,2000-01-01 00:30:00,4.0,392.0,2388.0,1.0
4,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,...,100.0,38.90,23.4044,não falha,0_1,2000-01-01 00:40:00,5.0,393.0,2388.0,1.0

# Fazer o cards

In [56]:
unique_eng_fam = X_df['eng_fam'].unique()
len(unique_eng_fam)

709

In [57]:
unique_eng_fam[:20]

array(['1_1', '1_2', '1_3', '1_4', '2_2', '2_1', '2_3', '2_4', '3_2',
       '3_1', '3_3', '3_4', '4_2', '4_1', '4_3', '5_1', '5_2', '4_4',
       '5_3', '6_2'], dtype=object)

In [58]:
data = data.sort_values(by=['eng_fam', 'time'])

In [59]:
def to_cards(X_df):
    cards = []
    size = []
    for i in range(len(unique_eng_fam)):
        filtered = X_df.query('@X_df.eng_fam == @unique_eng_fam' + str([i]))
        size.append(len(filtered))
        
        filtered = filtered.reset_index()
        filtered = filtered.sort_values(['time'])
        filtered = filtered.drop(['index'], axis=1)
        filtered.to_numpy()
        cards.append(filtered)
        
    return cards, size

In [60]:
cards, size = to_cards(data)

In [76]:
for i in range(len(cards)):
#     new_cards = np.empty(shape=(len(cards)))
    
    item = cards[i]
    if item.shape[0] is 0:
        print('achou')
    else:
#         new_cards[i] = item
        pass
#         cards = np.delete(cards, i)

achou
achou
achou
achou
achou
achou

In [61]:
print(type(cards))
print(type(cards[0]))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [82]:
# Identifica os cards com 0 timestamps
for i in range(len(cards)):
    if cards[i].shape[0] is 0:
        print('achei', i)
# print("Cards com 0 timestamps:", zeroes)

achei 367
achei 420
achei 674
achei 676
achei 707
achei 708

In [79]:
cards[366].head(5)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_19,sensor_meas_20,sensor_meas_21,target,eng_fam,time,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
0,42.0061,0.8400,100.0,445.00,549.18,1347.49,1127.52,3.91,5.71,138.32,...,100.0,10.51,6.3660,falha,102_2,2000-05-22 22:50:00,1.0,329.0,2212.0,2.0
1,10.0041,0.2503,100.0,489.05,603.87,1502.29,1299.67,10.52,15.49,394.41,...,100.0,28.61,17.1781,falha,102_2,2000-05-22 23:00:00,2.0,370.0,2319.0,2.0
2,35.0062,0.8413,100.0,449.44,555.13,1367.54,1125.05,5.48,8.00,195.33,...,100.0,15.00,8.8169,falha,102_2,2000-05-22 23:10:00,3.0,333.0,2223.0,2.0
3,0.0016,0.0012,100.0,518.67,642.17,1587.78,1394.72,14.62,21.61,554.91,...,100.0,39.01,23.3520,falha,102_2,2000-05-22 23:20:00,4.0,391.0,2388.0,2.0
4,9.9992,0.2518,100.0,489.05,604.49,1494.18,1303.82,10.52,15.49,394.40,...,100.0,28.80,17.1959,falha,102_2,2000-05-22 23:30:00,5.0,368.0,2319.0,2.0

AttributeError: 'list' object has no attribute 'delete'

In [64]:
# dropar as linhas com 0 timestamps
for row in zeroes:
    data = data.drop(row)

In [65]:
data.shape

(159764, 29)

In [ ]:
?X_df.to_numpy

In [ ]:
# Time information is on index 22
X_np[0][22]

In [ ]:
X.shape

In [ ]:
def format_to_lstm(df):
	X = np.array(df)
	return np.reshape(X, (X.shape[0], 1, X.shape[1]))