# Notebook 3 - Make 3D tensors

In [14]:
import pandas as pd
import numpy as np

In [61]:
data = pd.read_hdf('data2.h5', key='data')

In [16]:
print(data.shape)

(159788, 31)

In [62]:
data = data.drop(['index', 'engine_no'], axis=1)
data.head(5)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_19,sensor_meas_20,sensor_meas_21,target,eng_fam,time,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
index,,,,,,,,,,,,,,,,,,,,,
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,100.0,39.06,23.4190,não falha,0_1,2000-01-01 00:00:00,1.0,392.0,2388.0,1.0
1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,100.0,39.00,23.4236,não falha,0_1,2000-01-01 00:10:00,2.0,392.0,2388.0,1.0
2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,100.0,38.95,23.3442,não falha,0_1,2000-01-01 00:20:00,3.0,390.0,2388.0,1.0
3,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,...,100.0,38.88,23.3739,não falha,0_1,2000-01-01 00:30:00,4.0,392.0,2388.0,1.0
4,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,...,100.0,38.90,23.4044,não falha,0_1,2000-01-01 00:40:00,5.0,393.0,2388.0,1.0

# Get targets per eng_fam

In [63]:
y = data[['eng_fam', 'target']].copy(deep=True)

In [19]:
data = data.drop(['target'], axis=1)

In [20]:
data.head(3)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_16,sensor_meas_19,sensor_meas_20,sensor_meas_21,eng_fam,time,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
index,,,,,,,,,,,,,,,,,,,,,
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,0.03,100.0,39.06,23.4190,0_1,2000-01-01 00:00:00,1.0,392.0,2388.0,1.0
1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,0.03,100.0,39.00,23.4236,0_1,2000-01-01 00:10:00,2.0,392.0,2388.0,1.0
2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,0.03,100.0,38.95,23.3442,0_1,2000-01-01 00:20:00,3.0,390.0,2388.0,1.0

In [21]:
data = data.sort_values(by=['eng_fam', 'time'])

In [22]:
# ordenar 
# dar drop no timestamp
data = data.drop(['time'], axis=1)

# Fazer o cards

In [23]:
unique_eng_fam = data['eng_fam'].unique()
len(unique_eng_fam)

707

In [24]:
unique_eng_fam[:20]

array(['0_1', '0_2', '0_3', '0_4', '100_2', '100_4', '101_2', '101_4',
       '102_2', '102_4', '103_2', '103_4', '104_2', '104_4', '105_2',
       '105_4', '106_2', '106_4', '107_2', '107_4'], dtype=object)

In [25]:
def crop(df):
    print("len df:", len(df))
    to_drop = [i for i in range (128, df.shape[0])]
    df.drop(labels=to_drop, axis=0, inplace=True)

In [28]:
def to_cards(X_df):
    cards = []
    size = []
    for i in range(len(unique_eng_fam)):
        filtered = X_df.query('@X_df.eng_fam == @unique_eng_fam' + str([i]))
        size.append(len(filtered))
        filtered = filtered.reset_index()
#         filtered = filtered.sort_values(['time'])
        filtered = filtered.drop(['index'], axis=1)
#         filtered = filtered.T
        filtered.to_numpy()
        cards.append(filtered)
        
    return cards, size

In [29]:
cards, size = to_cards(data)

In [30]:
for item in size:
    if item is 0:
        print("achei um 0")

In [31]:
print(type(cards))
print(type(cards[0]))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [32]:
cards[0].head(3)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_15,sensor_meas_16,sensor_meas_19,sensor_meas_20,sensor_meas_21,eng_fam,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,8.4195,0.03,100.0,39.06,23.4190,0_1,1.0,392.0,2388.0,1.0
1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,8.4318,0.03,100.0,39.00,23.4236,0_1,2.0,392.0,2388.0,1.0
2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,8.4178,0.03,100.0,38.95,23.3442,0_1,3.0,390.0,2388.0,1.0

# Crop cards

In [33]:
np.amin(size, axis=0)

128

In [34]:
for i, item in enumerate(cards):
    to_drop = [i for i in range (128, item.shape[0])]
    item.drop(labels=to_drop, axis=0, inplace=True)

In [35]:
# Conferir se deu certo
for item in cards:
    if item.shape[0] is not 128:
        print(item.shape)

# Transpose

In [36]:
for i, item in enumerate(cards):
    item = item.T
    cards[i] = item

In [37]:
cards[0].head(5)

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
op_setting_1,-0.0007,0.0019,-0.0043,0.0007,-0.0019,-0.0043,0.001,-0.0034,0.0008,-0.0033,...,0.0013,-0.0024,-0.0033,0.0026,0.0016,0.0025,-0.0004,0.0016,-0.001,-0.0006
op_setting_2,-0.0004,-0.0003,0.0003,0,-0.0002,-0.0001,0.0001,0.0003,0.0001,0.0001,...,0.0005,0.0005,0.0004,-0.0001,-0.0002,0.0002,0.0005,0.0001,0.0002,0.0003
op_setting_3,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
sensor_meas_1,518.67,518.67,518.67,518.67,518.67,518.67,518.67,518.67,518.67,518.67,...,518.67,518.67,518.67,518.67,518.67,518.67,518.67,518.67,518.67,518.67
sensor_meas_2,641.82,642.15,642.35,642.35,642.37,642.1,642.48,642.56,642.12,641.71,...,642.67,642.81,642.63,643.3,643.39,642.48,642.96,642.49,642.99,642.47

# Resize

In [38]:
len(cards)

707

In [39]:
cards[0].head(1)

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
op_setting_1,-0.0007,0.0019,-0.0043,0.0007,-0.0019,-0.0043,0.001,-0.0034,0.0008,-0.0033,...,0.0013,-0.0024,-0.0033,0.0026,0.0016,0.0025,-0.0004,0.0016,-0.001,-0.0006

In [40]:
item = np.array(cards[0])

In [41]:
item.shape

(27, 128)

In [42]:
item

array([[-0.0007, 0.0019, -0.0043, ..., 0.0016, -0.001, -0.0006],
       [-0.0004, -0.0003, 0.0003, ..., 0.0001, 0.0002, 0.0003],
       [100.0, 100.0, 100.0, ..., 100.0, 100.0, 100.0],
       ...,
       [392.0, 392.0, 390.0, ..., 392.0, 393.0, 393.0],
       [2388.0, 2388.0, 2388.0, ..., 2388.0, 2388.0, 2388.0],
       [1.0, 1.0, 1.0, ..., 1.0, 1.0, 1.0]], dtype=object)

In [43]:
# b = np.resize(a,(2,1,10))
resized = np.resize(item, (28, 1, 128))

In [44]:
resized.shape

(28, 1, 128)

In [45]:
resized

array([[[-0.0007, 0.0019, -0.0043, ..., 0.0016, -0.001, -0.0006]],

       [[-0.0004, -0.0003, 0.0003, ..., 0.0001, 0.0002, 0.0003]],

       [[100.0, 100.0, 100.0, ..., 100.0, 100.0, 100.0]],

       ...,

       [[2388.0, 2388.0, 2388.0, ..., 2388.0, 2388.0, 2388.0]],

       [[1.0, 1.0, 1.0, ..., 1.0, 1.0, 1.0]],

       [[-0.0007, 0.0019, -0.0043, ..., 0.0016, -0.001, -0.0006]]],
      dtype=object)

In [46]:
for i, item in enumerate(cards):
    item = np.array(item)
    resized = np.resize(item, (28, 1, 128))
    cards[i] = resized

In [47]:
cards[0].shape

(28, 1, 128)

In [48]:
np.save('data_3d', cards)

# Separar o target

In [64]:
y.shape

(159788, 2)

In [65]:
y.head(4)

      eng_fam     target
index
0         0_1  não falha
1         0_1  não falha
2         0_1  não falha
3         0_1  não falha

In [70]:
y_g = y.groupby(['eng_fam'])

In [73]:
y_true = y_g.head(1)

In [79]:
y_values = y_true.values

In [92]:
y_pure = []
for i, item in enumerate(y_values):
#     print(item)
    y_pure.append(y_values[i][1])

In [93]:
len(y_pure)

707

In [94]:
y_pure = np.array(y_pure)

In [95]:
y_pure[:10]

array(['não falha', 'não falha', 'falha', 'não falha', 'não falha',
       'não falha', 'não falha', 'não falha', 'não falha', 'não falha'],
      dtype='<U9')

In [96]:
np.save('y', y_pure)

end ====================================================